/*
    DEMO STYLE
*/
@font-face{
    font-family: light;
    src: url('../roboto/Roboto-Light.ttf');
}
@font-face{
    font-family: med;
    src: url('../roboto/Roboto-Medium.ttf');
}
@font-face{
    font-family: regular;
    src: url('../roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: bold;
    src: url('../roboto/Roboto-Bold.ttf');
}

:root {
    --bg: rgb(16, 37, 60);
    --second: #343a40;
    --white: #ffffff;
    --black: #212529;
    --success: #28a745;
}
.bg-black {
    background: #212529;
}
.bg-second {
    background: var(--second) !important;
}
/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: regular;
    /*background: #fafafa;*/
    /*background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);*/
    /*background: rgb(16, 37, 60) !important;*/
}

.swal2-html-container, .swal2-title{
    color: white !important;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: var(--second);    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.btn, .form-control:focus {
    box-shadow: none !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: var(--second);
    /*background: rgb(36, 45, 57);*/
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: var(--black);
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    border: 1px solid #ffffff;
    background: var(--black);
    color: #ffffff;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--second);
    /*background: #6d7fcc;*/
}

#sidebar ul.components {
    padding: 15px 0;
    border-bottom: 1px solid gray;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--black);
    background: #ffffff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: var(--black);
    background: #ffffff;
    /*background: #6d7fcc;*/
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--black);
    /*background: #6d7fcc;*/
}

ul.CTAs {
    padding: 10px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #ffffff;
    color: var(--black);
    border: 1px solid #ffffff;
}

a.download:hover {
    border: 1px solid #ffffff;
    background: var(--black) !important;
    color: #ffffff !important;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--black) !important;
    /*background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, var(--bg 51.2%, rgb(0, 0, 0) 98.6%);*/
}

.form-label {
    color: gray;
}

.bg-transparent {
    background: transparent !important;
}

.form-control {
    background-color: transparent;
    border: 1px solid gray;
    color: #ffffff;
}

.form-control:focus {
    background-color: transparent;
    border: 1px solid gray;
    color: #ffffff;
}

.form-control:read-only {
    background-color: transparent;
    border: 1px solid gray;
    color: #ffffff;
}

label.error {
    color: indianred;
    font-size: 13px;
}

.bg-self {
    background: var(--black) !important;
}

a.paginate_button {
    display: inline-block;
    color: #ffffff !important;
    background-color: #6C757D !important;
    border: 1px solid #6C757D !important;
    padding: 2px 6px;
    margin-left: 2px;
    text-align: center;
    cursor: pointer;
    *cursor: hand;
    font-size: 14px;
}

.page-item {
    background-color: #6C757D !important;
    color: #ffffff !important;
    border: 1px solid black;
}

.page-link {
    color: black !important;
}

a.paginate_button.active {
    background-color: #24a0ed !important;
    color: #ffffff !important;
}

a.paginate_active {
    background-color: blue !important;
    border: 1px solid black;
}

a.paginate_button.disabled {
    background-color: #6C757D !important;
    color: #fff !important;
}

.paging_full_numbers a:active {
    outline: none
}

.paging_full_numbers a:hover {
    text-decoration: none;
    background-color: green !important;
    color: #24a0ed;
}

div.dataTables_info, div.dataTables_length {
    padding: 9px 6px 6px 6px;
    color: #ffffff !important;
    font-size: 14px;
}

div.dataTables_length label {
    font-size: 14px;
}

div.dataTables_length select {
    color: #f7f7f7 !important;
    background: #343a40 !important;
}

div.dataTables_length select option{
    color: #ffffff !important;
}

div.dataTables_filter label, input {
    color: #ffffff;
    font-size: 14px;
}

div.dataTables_filter input:focus {
    outline: none !important;
}

.data-table thead {
    background: var(--second) !important;
    border: none;
}

.data-table tbody tr {
    background: var(--black) !important;
    color: #fff !important;
}

.data-table tbody tr td{
    font-size: 14px !important;
}
.context-box {
    margin-bottom: 0px;
}
#mobile-menu {
    height: 60px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
}
.mobile-menu-content {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    width: 100%;
    height: 100%;
}
.mobile-menu-content a {
    width: 25%;
    text-align: center;
    color: var(--success);
}
.mobile-menu-content span {
    display: block;
    font-size: 13px;
    font-family: regular;
}
.mobile-menu-content i {
    color: var(--success);
}
.mobile-menu-content a:hover span{
    color: #ffffff;
}
.mobile-menu-content a:hover i{
    color: #ffffff;
}
.mobile-menu-content a.active span{
    color: #ffffff;
}
.mobile-menu-content a.active i{
    color: #ffffff;
}
.btn-deposit, .btn-withdrawal {
    display: inline-block;
}
.chart-div {
    height: calc(100vh - 330px);
    margin-bottom:  0px;
}
.button-box {
    display: flex;
    justify-content: end;
    align-items: center;
}

.result-box {
    display: flex;
    justify-content: end;
    align-items: center;
}
.result-box span {
    font-size: 13px;
    margin-right: 3px;
}
.drp-name {
    display: block;
}
.period-box {
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
}
.btn-drp-account{
    padding: 4.5px 15px;
}
.account-type-text{
    font-size: 11px;
}
.parent-account-drp-down{
    padding: 0px 8px;
}
.title{
    font-size: 19px;
}
.account-box{
    border-right: 1px dashed #6c757d;
}
@media screen and (max-width: 576px) {
    .context-box {
        margin-bottom: 65px;
    }
    #mobile-menu {
        visibility: visible;
    }
    .my-title {
        display: none !important;
    }
    .btn-deposit, .btn-withdrawal {
        display: none;
    }
    .chart-div {
        height: calc(100vh - 405px);
    }
    .button-box button {
        width: 50%;
    }

    .result-box {
        display: inline-block;
    }
    .result-box span {
        margin-top: 4px;
    }
    #trading-info {
        display: block;
    }
    .drp-name {
        display: none;
    }
    .brand-text{
        font-size: 16px;
    }
    .balance-text{
        font-size: 14px !important;
    }
    .btn-drp-account{
        padding: 3px 9px;
    }
    .account-type-text{
        font-size: 10px;
    }
    .parent-account-drp-down{
        padding: 0px 5px;
    }
    .title{
        font-size: 16px;
    }
    .account-box{
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .my-title {
        display: none !important;
    }
    .context-box {
        margin-bottom: 65px;
    }
    #mobile-menu {
        visibility: visible;
    }
    .btn-deposit, .btn-withdrawal {
        display: none;
    }
    .chart-div {
        height: calc(100vh - 405px);
    }
    .button-box button {
        width: 50%;
    }
    .result-box {
        display: inline-block;
        margin-left: auto;
    }
    .result-box span {
        margin-top: 4px;
    }
    #trading-info {
        display: block ;
    }
    .drp-name {
        display: none;
    }
    .brand-text{
        font-size: 16px;
    }
    .balance-text{
        font-size: 14px !important;
    }
    .btn-drp-account{
        padding: 3px 9px;
    }
    .account-type-text{
        font-size: 10px;
    }
    .parent-account-drp-down{
        padding: 0px 5px;
    }
    .title{
        font-size: 16px;
    }
    .account-box{
        border: none;
    }
}
